<!DOCTYPE html>
<html>
<head>
    <title>Timetable</title>
</head>
<body>
    <h1>Timetable</h1>
    <table border="1">
        <tr>
            <th>Class</th>
            <th>Teacher</th>
            <th>Subject</th>
            <th>Day</th>
            <th>Start Time</th>
            <th>End Time</th>
        </tr>
        {% for timetable in timetables %}
            <tr>
                <td>{{ timetable.class_name }}</td>
                <td>{{ timetable.teacher }}</td>
                <td>{{ timetable.subject }}</td>
                <td>{{ timetable.day }}</td>
                <td>{{ timetable.start_time }}</td>
                <td>{{ timetable.end_time }}</td>
            </tr>
        {% endfor %}
    </table>
    <a href="{% url 'generate_timetable' %}">Generate Timetable</a>
</body>
</html>


